:root {
--color-dark-mode: hsl(209, 23%, 22%);
--color-dark-background: hsl(207, 26%, 17%);
--color-text: hsl(200, 15%, 8%);
--color-input: hsl(0, 0%, 52%);
--color-background: hsl(0, 0%, 98%);
--color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}


main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  margin-bottom: 32px;
  box-shadow: 0px 3px 3px -5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 30px;
}

.mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.fa-moon {
  font-size: 22px;
  margin-right: 10px;
}

.filters {
  display: none;
}

.filters.active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  max-width: 1280px;
  padding: 0 30px;
}

#query {
  width: 35%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px var(--color-text);
}

#region {
  width: 30%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px var(--color-text);
}

.fontawesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  list-style: none;
}

li {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px var(--color-text);
}

li a {
  text-decoration: none;
}

li img {
  aspect-ratio: 160/98;
  width: 100%
}

.info-container {
  padding: 30px 20px;
}

.country-name {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

/* Detail styles */

.detail-button {
  display: inline-block;
  padding: 0px 10px;
  margin: 5px 5px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0px 0px 6px -2px var(--color-text);
  border-radius: 5px;
  cursor: pointer;
}

.detail-button:first-child {
  margin: 50px 0;
  padding: 10px 40px;
}

.detail-button i {
  margin-right: 10px;
}

.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flag-element img {
  height: 100%;
  width: 85%;
}

.detail-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-name {
  display: block;
  grid-column: 1 / 3;
  margin: 30px 0;
}

.border-countries-container {
  grid-column: 1 / 3;
  margin: 30px 0;
}

/* Light Mode */

body.light {
  color: var(--color-text);
  background-color: var(--color-background);
}

header.light, #query.light, #region.light, li.light, li a.light, .mode.light, .detail-button.light {
 background-color: var(--color-white);
 color: var(--color-text);
}


/* Dark Mode */

body.dark {
  color: var(--color-white);
  background-color: var(--color-dark-background);
}

header.dark, #query.dark, #region.dark, li.dark, li a.dark, .mode.dark, .detail-button.dark {
 background-color: var(--color-dark-mode);
 color: var(--color-white);
}

#query.dark, #region.dark, li.dark, .detail-button.dark {
  --color-text: hsl(0, 0%, 52%);
}

/* Media queries */

@media only screen and (max-width: 850px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .detail-container, .detail-content {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
    background-color: var(--color-dark-background);
  }
  
  header, #query, #region, li, li a, .mode, .detail-button {
   background-color: var(--color-dark-mode);
   color: var(--color-white);
  }
}