:root {
--color-dark-blue: hsl(209, 23%, 22%);
--color-very-dark-blue: hsl(207, 26%, 17%);
--color-text: hsl(200, 15%, 8%);
--color-input: hsl(0, 0%, 52%);
--color-background: hsl(0, 0%, 98%);
--color-white: hsl(0, 0%, 100%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: var(--color-text);
  background-color: var(--color-background);
}


main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  background-color: var(--color-white);
  margin-bottom: 32px;
  box-shadow: 0px 3px 3px -5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 30px;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

header button i {
  font-size: 22px;
  margin-right: 10px;
}

.filters {
  display: none;
}

.filters.active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  max-width: 1280px;
  padding: 0 30px;
}

#query {
  width: 35%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 3px -4px rgba(66, 68, 90, 1);
}

#region {
  width: 30%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 3px -4px rgba(66, 68, 90, 1);
}

.fontawesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px;
  list-style: none;
}

li {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0px 3px 3px 0px rgba(66, 68, 90, 1);
}

li a {
  color: var(--color-text);
  text-decoration: none;
}

li img {
  aspect-ratio: 160/98;
  width: 100%
}

.info-container {
  padding: 30px 20px;
}

.country-name {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  ul {
    grid-template-columns: 1fr;
  }
}